<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/css/bootstrap.css">
    <link rel="stylesheet" href="/public/css/app/main.css">    
    
</head>
<body>       
        {{#if AppName }} 
                {{{body}}}            
            {{else}} 
            <div class="nav-header">
                <div class="header-title">
                    <div class="title-app">                        
                        <span class="sp-title">@AppName</span>                            
                    </div>                    
                </div>
                <!--
                <div class="header-search">
                    
                    <input type="text" class="text-search" id="search-text" placeholder="Buscar">
                    <div class="img-search">

                    </div>
                </div>-->
                <div class="user-interation">
                    <div class="menu-icon">
                            <span  class="img-menu">
                                <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
                                </svg>
                            </span>                            
                        </div>    
                    
                    <div class="user-settings">                        
                        <span  class="img-settings">
                             <svg xmlns="http://www.w3.org/2000/svg" width="48" height="48" fill="currentColor" class="bi bi-caret-down" viewBox="0 0 16 16">
                                  <path d="M3.204 5h9.592L8 10.481 3.204 5zm-.753.659 4.796 5.48a1 1 0 0 0 1.506 0l4.796-5.48c.566-.647.106-1.659-.753-1.659H3.204a1 1 0 0 0-.753 1.659z"/>
                            </svg>
                        </span>       
                    </div>
                    <div class="user-profile">      
                        <img src="/public/img/coyote.jpg" alt=""  >                  
                    </div>
                    
                    <div class="user-info">
                        {{#if username}}
                                <span>{{username.usrinterno}}</span>
                       {{else}}
                                <span>##username.- options</span>
                        {{/if}}
                    </div>           
                    
                             
                </div>
            </div>

            <div class="container-settings closed-settings">
                <div class="item-profile menu-item">
                    <span target="/profile" data="/profile" class="item p-item">Perfil</span>                        
                        <div class="container-image">
                            <img src="/public/img/down.png" class="image-item">
                        </div>                                            
                 </div>                                     

                 <div class="item-profile menu-item">
                    <span target="item-profile" data="/profile" class="item p-item">Apariencia</span>                        
                        <div class="container-image">
                            <img src="/public/img/down.png" class="image-item">
                        </div>                                            
                 </div>             

                 <div class="item-profile menu-item">
                    <span target="item-profile" data="/logoff" class="item p-item">Cerrar sesion</span>                        
                        <div class="container-image">
                            <img src="/public/img/down.png" class="image-item">
                        </div>                                            
                 </div>                                                                
            </div>
            
            <div class="container-menu closed-menu">            
            </div>            


            <div class="wrapper-search search-hidden">   
                <div class="search-header">
                    <div class="menu-path">
                        <span class="menu-url">Ubicacion actual: @@url</span>
                    </div>
                    <div class="close-finder">
                        <img class="close-x-finder" src="/public/img/close.png" alt="">
                    </div>
                </div>                   
            </div>                        
            <div class="wrapper"> 
                {{{body}}}
            </div>
            
        {{/if}}
    
    <script type="text/javascript" src="/public/js/jquery.js"></script>
    <script type="text/javascript" src="/public/js/popper.js"></script>
    <script type="text/javascript" src="/public/js/bootstrap.js"></script>
    <script type="text/javascript" src="/public/js/app.js"></script>
    
    
</body>
</html>