
<div class="row">
<div class="col-lg-3 col-md-3 col-sm-3">
        <div class="profile-info-image">
            <div class="container-prof-info">
                
            </div>
            <div class="container-info">
                {{#if username}}
                    <span>{{username.nombre}} {{username.apaterno}} {{username.amaterno}}</span>                
                    <span>{{username.usrinterno}}</span>                                    
                {{/if}}
            </div>
            <div class="container-actions">
                <button class="b-actions">Imagen</button>
                <button class="b-actions">Eliminar</button>        
                <button class="b-actions">Deshabilitar</button>        
            </div>
        </div>
    </div>    

{{#if username}}
    <div class="col-lg-9 col-md-9 col-sm-9">
    <div class="profile-info">
        <h4>Información del usuario</h4>
            <div class="row form-row">
                <div class="col-lg-5 col-md-5 col-sm-5">
                    <div class="text-container">
                        <div class="span-container">
                            <span>Nombre:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="text" name="" value ={{username.nombre}} id="" class="input-obj" placeholder="Nombre">
                        </div>
                    </div>                
                </div>    
                <div class="col-lg-7 col-md-7 col-sm-7">
                    <div class="text-container">
                        <div class="span-container">
                            <span>Apellidos:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="text" name="" id="" value ={{username.apaterno}} class="input-obj" placeholder="Apellidos">
                        </div>
                    </div>                
                </div>    
        </div>

        <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <div class="text-container">
                        <div class="span-container">
                            <span>Usuario:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="text" name="" id="" class="input-obj" placeholder="Usuario Interno">
                        </div>
                </div>       
            </div>            
        </div>
        <div class="row form-row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="text-container">
                        <div class="span-container">
                            <span>Contraseña:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="password" name="" id="" class="input-obj" placeholder="Usuario Interno">
                        </div>
                </div>       
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                    <div class="text-container">
                        <div class="span-container">
                            <span>Confirmar:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="password" name="" id="" class="input-obj" placeholder="Usuario Interno">
                        </div>
                </div>       
            </div>
        </div>


        <div class="row form-row">
            <div class="col-lg-8 col-md-8 col-sm-8">
                
                <div class="text-container">
                        <div class="span-container">
                            <span>Perfil:<span>
                        </div>
                        <div class="input-container-x">
                            <select name="user-type" id="" class="input-obj">
                                <option value={{username.tipousuario}}>{{username.tipousuario}}</option>                                
                            </select>            
                        </div>
                    </div>      
                </div>        
            <div class="col-lg-4 col-md-4 col-sm-4">
                <div class="text-container">
                        <div class="span-container">
                            <span>Activo:<span>
                        </div>
                        <div class="input-container-x">
                            <input type="checkbox" name="" id="">
                        </div>
                    </div>      
                </div>
            </div>
            <div class="row form-row">
            <div class="col-lg-12 col-md-12 col-sm-12">
                <button class="b-actions">Guardar</button>
                <button class="b-actions">Cancelar</button>
            </div>
        </div>
        </div>    
    </div>
    </div>
    {{/if}}
</div>