<table class="table table-hover">
    <thead>
        <th>Categoria</th>
        <th>Nombre</th>
        <th>Nombre Largo</th>
        <th>Estatus</th>
        <th>Precio (Actual)</th>
        <th>Precio (Normal)</th>
        <th>Editar</th>
        <th>Eliminar</th>
    </thead>
    <tbody>        
        {{#if items}}
            {{#each items}}
            <tr>
                <td>{{codigo}}</td>    
                <td>{{descripcion}}</td>
                <td>{{categoria}}</td>
                <td>{{subcategoria}}</td>
                <td>{{precioActual}}</td>
                <td>{{precioNormal}}</td>
                <td><a href="#">Eliminar</a></td>
                <td><a href="#">Editar</a></td>
            </tr>
            {{/each}}
        {{/if}}
    </tbody>
</table>


